# Build directories
build/
notebooks/
cmake-build*/
CMakeFiles/
CMakeCache.txt
*.cmake

# Spack
.spack-env/

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Editor / OS junk
*~
*.swp
.DS_Store
